body {
    background-image: url("h-img.jpg");
    background-position: center;
    padding: 5px;
}
.class logo {
    margin: 4%;
    position: relative;
}
.class information {
    position: absolute;
    top: 20px;
    right: 50px;
}
.class icon {
    position: absolute;
    bottom: 45px;
    margin-left: 55px;
    margin-right: 55px;
}