.section1 {
    background-image: url(../image/h_img.jpg);
    background-attachment: fixed;
}
.a {
    text-align: center;
    margin: 45px;
    color: white;
}
.a img {
    padding: 50px 0px;
}

.h1{
    text-align: center;
    margin: 15px;
    padding: 15px;
}
.p {
    margin: 0px;
}
.p {
    margin: 5px;
}
.p {
    margin: 4px;
}
.section3 {
    background-image: url(../image/s_image.jpg);
    background-attachment: fixed;
}
.h1 {
    text-align: center;
    font: bold;
    margin: 45px;
    padding: 45px;
}
.p {
    margin: 7px;
}
.p {
    margin: 15px;
}
.p {
    margin: 12px;
}
.section4 {
    text-align: center;
}

.container .col-md-4{
    padding: 6px 10px;
    display: flex;
    width: auto;
}
section5 {
    text-align: center;
}
.container .row {
    display: table;
    width: 100%;
}
.container .col-md-4 {
    display: flex;
}
.container2 .row {
    display: table;
    width: 100%;
}
.container2 .col-md-4 {
    display: flex;
    
}
.section6 {
    background-image: url(../image/c_image.jpg);
    background-attachment: fixed;
}

.section7 {
    padding-top: 2px;
}
.icon {
    text-align: center;
    padding-right: 6px;
    padding-bottom: 2px;
}
.section8 {
    text-align: center;
    padding-bottom: 6px;
}